
@media only screen and (max-width:1175px){
    .navlist{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 400px;
    }

    .rightNav{
        text-align: center;
        width: 30%;
    }
    #search{
        width: 100%;
    }
    .box-main{
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .burger{
        position: absolute;
        cursor: pointer;
        right:5%;
        top:15px;
        display: block;
    }
    .line{
        width:33px;
        background-color: white;
        height:4px;
        margin:5px 3px;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }

    .section{
        flex-direction: column-reverse;
    }
    .paras{
        padding: 0px 5px;
    }
}